<header class="main-header">
  
  <ng-container *ngIf="isLoggedIn$ | async; else publicHeader">
    
    <div class="header-content private-view">
      
        <a class="logo-text" routerLink="/student/dashboard">
            <h1> TEXT</h1>
        </a>
      
      <nav class="user-nav">
        <a class="profile-link" [routerLink]="currentUser?.role === 'maestro' ? '/teacher/profile' : '/student/profile'" 
        [attr.aria-label]="'Ir al perfil de ' + (currentUser?.name || 'Usuario')"> 
        <button class="profile-icon">
          <svg xmlns="http://www.w3.org/2000/svg"  width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-cog-icon lucide-user-cog"><path d="M10 15H6a4 4 0 0 0-4 4v2"/><path d="m14.305 16.53.923-.382"/><path d="m15.228 13.852-.923-.383"/><path d="m16.852 12.228-.383-.923"/><path d="m16.852 17.772-.383.924"/><path d="m19.148 12.228.383-.923"/><path d="m19.53 18.696-.382-.924"/><path d="m20.772 13.852.924-.383"/><path d="m20.772 16.148.924.383"/><circle cx="18" cy="15" r="3"/><circle cx="9" cy="7" r="4"/></svg>
          </button>
          <span class="welcome-text">Hola, {{ currentUser?.name || 'Usuario' }}</span>
        
        </a>
        <button class="icon-button" title="Activar fuente accesible" [class.active]="isDyslexiaFont" (click)="toggleFont()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-case-sensitive-icon lucide-case-sensitive"><path d="m2 16 4.039-9.69a.5.5 0 0 1 .923 0L11 16"/><path d="M22 9v7"/><path d="M3.304 13h6.392"/><circle cx="18.5" cy="12.5" r="3.5"/>
            </svg>
            <span>Fuente Dislexia</span>
        </button>
        <button class="icon-button" title="Activar modo alto-contraste" [class.active]="isHighContrast" (click)="toggleHighContrast()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contrast-icon lucide-contrast"><circle cx="12" cy="12" r="10"/><path d="M12 18a6 6 0 0 0 0-12v12z"/>
          </svg>
          <span>Alto contraste</span>
        </button>
        <div class="line-divisor"></div>
        <button class="icon-button"  title="Cerrar Sesión" (click)="onLogout()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
          <span>Cerrar Sesión</span>
        </button>
      </nav>
    </div>

  </ng-container>


  <ng-template #publicHeader>
    
    <div class="header-content public-view">
      <h1 class="logo-text">TEXT</h1>
      <nav class="accessibility-nav">
        <button class="icon-button" title="Activar fuente accesible" [class.active]="isDyslexiaFont" (click)="toggleFont()">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-case-sensitive-icon lucide-case-sensitive"><path d="m2 16 4.039-9.69a.5.5 0 0 1 .923 0L11 16"/><path d="M22 9v7"/><path d="M3.304 13h6.392"/><circle cx="18.5" cy="12.5" r="3.5"/>
            </svg>
            <span>Fuente Dislexia</span>
        </button>
        <button class="icon-button" title="Activar modo alto-contraste" [class.active]="isHighContrast" (click)="toggleHighContrast()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-contrast-icon lucide-contrast"><circle cx="12" cy="12" r="10"/><path d="M12 18a6 6 0 0 0 0-12v12z"/>
          </svg>
          <span>Alto contraste</span>
        </button>
      </nav>
    </div>

  </ng-template>
</header>