<main class="profile-container">
    @if (isSpotlightActive) {
    <div class="spotlight-overlay" (click)="clearSpotlight()"></div>
  }
    <button 
    type="button" 
    class="btn-back-workspace"
    [class.elevated]="isSpotlightActive"
    (click)="volverAlDashboard()"
    aria-label="Volver al panel principal de desafíos"
  >
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-move-left-icon lucide-move-left"><path d="M6 8L2 12L6 16"/><path d="M2 12H22"/></svg>
    <span>Volver</span>
  </button>
    <section class="area-info" [formGroup]="infoForm">
        <div class="card info">
            <h1 class="title info">Información personal</h1>
            <div class="input-area grid-profile">
                
                <label for="profile-name">Nombre</label>
                <input class="input-df" type="text" formControlName="name" id="profile-name">
                <button type="button" class="edit-btn" title="Modificar nombre" [class.active]="isEditingName" (click)="toggleEditName()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                </button>

                <label for="profile-email">Correo</label>
                <input type="email" id="profile-email" formControlName="email" class="disabled-input">

                <div class="action-container" *ngIf="isEditingName">
                    <button class="save-changes-btn" [disabled]="infoForm.invalid || infoForm.pristine" (click)="onUpdateName()">
                        Guardar cambios
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="create-class" class="area-create-class" [class.elevated]="isSpotlightActive">
        <div class="card create-class">
            <h1 class="title create-class-title">
                Crear clase
            </h1>
            <form class="input-area grid-create" [formGroup]="createClassForm" (ngSubmit)="onCreateClass()">
                
                <div class="field-group">
                    <label class="control-label">Periodo Académico:</label>
                    <select class="input-df" formControlName="periodoId">
                        <option value="" disabled selected>Seleccione un periodo</option>
                        @for (p of periodos; track p.id) { <option [value]="p.id">{{ p.nombre }}</option> }
                    </select>
                </div>

                <div class="field-group">
                    <label class="control-label">Horario:</label>
                    <select class="input-df" formControlName="horarioId">
                        <option value="" disabled selected>Seleccione un horario</option>
                        @for (h of horarios; track h.id) { <option [value]="h.id">{{ h.nombre }}</option> }
                    </select>
                </div>

                <div class="field-group">
                    <label class="control-label">Carrera Tecnológica:</label>
                    <select class="input-df" formControlName="carreraId" (change)="onCarreraChange($event)">
                        <option value="" disabled selected>Seleccione la carrera</option>
                        @for (c of carreras; track c.id) { <option [value]="c.id">{{ c.nombre }}</option> }
                    </select>
                </div>

                <div class="field-group">
                    <label class="control-label">Asignatura / Materia:</label>
                    <select class="input-df" formControlName="materiaId">
                        <option value="" disabled selected>Primero seleccione una carrera</option>
                        @for (m of materiasFiltradas; track m.id) { <option [value]="m.id">{{ m.nombre }}</option> }
                    </select>
                </div>
                <div class="field-group">
                    <label class="control-label">Nivel / Semestre:</label>
                    <select class="input-df" formControlName="nivel">
                        <option value="" disabled selected>Seleccione</option>
                        @for (n of niveles; track n) { <option [value]="n">{{ n }}</option> }
                    </select>
                </div>

                <div class="field-group">
                    <label class="control-label">Paralelo:</label>
                    <select class="input-df" formControlName="aulaNum">
                        <option value="" disabled selected>Seleccione</option>
                        @for (a of aulasFisicas; track a) { <option [value]="a">Paralelo {{ a }}</option> }
                    </select>
                </div>
                
                <button type="submit" class="generate-btn" [disabled]="createClassForm.invalid" style="grid-column: 1 / -1; margin-top: 15px;">
                    Crear clase
                </button>
            </form>

            <div class="created-classrooms-section" *ngIf="classrooms.length > 0">
                <div class="classrooms-list">
                    <article class="classroom-item" *ngFor="let aula of classrooms">
                    <div class="classroom-info">
                        <strong class="classroom-name">{{ aula.name }}</strong>
                        <div class="code-badge-container">
                        <span class="code-label">Código:</span>
                        <code class="class-code-text"> {{ aula.code }} </code>
                        </div>
                    </div>
                    
                    <button type="button" class="copy-btn" title="Copiar código" (click)="copyCode(aula.code)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-copy icon-copy"><rect width="14" height="14" x="8" y="8" rx="2" ry="2"/><path d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"/></svg>
                        <span>Copiar código</span>
                    </button>
                    </article>

                    

                </div>
            </div>
        </div>
    </section>

    <section class="area-change-pass" [formGroup]="passwordForm"> 
        <div class="card change-pass">
            <h1 class=" title change-pass">
                Cambiar contraseña
            </h1>
            <div class="input-area grid6" >
                <label for="current-pass">Contraseña actual</label>
                <input class="input-df" type="password" id="current-pass" placeholder="Ingresa tu contraseña actual" formControlName="currentPassword">

                <label for="new-pass">Nueva contraseña</label>
                <input class="input-df" type="password" id="new-pass" placeholder="Mínimo 6 caracteres" formControlName="newPassword">

                <label for="confirm-pass">Confirmar contraseña</label>
                <input class="input-df" type="password" id="confirm-pass" placeholder="Repite tu nueva contraseña" formControlName="confirmPassword">


                <div class="action-container">
                    @if (passwordForm.valid){
                        <button class="save-changes-pass-btn" (click)="onChangePassword()">
                            Guardar cambios
                        </button>
                    }@else {
                    <p class="help-text" style=" color: var(--container-dashboard-text-color); opacity: 0.7; margin: 0;">
                        * Por favor, completa todos los campos para poder cambiar tu contraseña.
                    </p>
                    }    
                </div>
                </div>
            </div>
    </section>

    <section class="area-settings-acces">
        <div class="card settings-acces">
            <h1 class="title settings-acces">
                Ajustes de accesibilidad
            </h1>
            <div class="input-area grid-accessibility">
                <label for="toggle-dyslexia">Activar fuente OpenDyslexic</label>
                <div class="control-container">
                    <label class="switch-control">
                    <input  type="checkbox" id="toggle-dyslexia" (change)="onToggleDyslexia($event)">
                    <span class="slider"></span>
                    </label>
                </div>

                <label for="select-contrast">Modo de Contraste</label>
                <div class="control-container">
                    <select id="select-contrast" class="select-control" (change)="onContrastChange($event)">
                    <option value="claro" selected>Claro</option>
                    <option value="oscuro">Oscuro</option>
                    </select>
                </div>

                <label for="select-speed">Velocidad del Lector de Voz</label>
                <div class="control-container">
                    <select id="select-speed" class="select-control">
                    <option value="rapido">Rápido</option>
                    <option value="normal" selected>Normal</option>
                    <option value="lento">Lento</option>
                    </select>
                </div>

                <label for="check-animations">Desactivar Animaciones</label>
                <div class="control-container">
                    <label class="checkbox-control">
                    <input type="checkbox" id="check-animations" checked>
                    <span class="custom-checkbox"></span>
                    </label>
                </div>

                <label for="select-font-size">Tamaño de Fuente</label>
                <div class="control-container">
                    <select id="select-font-size" class="select-control">
                    <option value="normal" selected>Normal</option>
                    <option value="grande">Grande</option>
                    </select>
                </div>

            </div>
        </div>
    </section>

</main>
