:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;  
  scroll-behavior: smooth;
  scroll-snap-stop: normal; 
}