<main class="register-container">

  <section class="register-card">

  
    <h1 class="register-title">CREA TU CUENTA</h1>
    

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="input-group">
            <label for="name">Nombre</label>

            <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Ingrese su nombre"
            [class.error]="nameInvalid"
            [class.success]="nameValid"
            >

            <small class="error-text" *ngIf="nameInvalid">
            ⚠ Nombre requerido
            </small>
        </div>

        <div class="input-group">
            <label for="email">Correo electrónico</label>

            <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Ingrese su correo electrónico"
            [class.error]="emailInvalid"
            [class.success]="emailValid"
            >

            <small class="error-text" *ngIf="emailInvalid">
            ⚠ Email inválido
            </small>
        </div>

        <div class="input-group">
            <label for="password">Contraseña</label>

            <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Ingrese su contraseña"
            [class.error]="passwordInvalid"
            [class.success]="passwordValid"
            >

            <small class="error-text" *ngIf="passwordInvalid">
            ⚠ Mínimo 6 caracteres
            </small>
        </div>

        <div class="input-group">

            <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Repita su contraseña"
            [class.error]="passwordMismatch"
            [class.success]="confirmPasswordValid"
            >

            <small class="error-text" *ngIf="passwordMismatch">
            ⚠ Las contraseñas no coinciden
            </small>
        </div>

        <label>¿Cuál es tu rol?</label>

        <div class="role-options"> 
            <div class="role-item"> 
                <input type="checkbox" id="maestro" name="maestro" [checked]="registerForm.get('role')?.value === 'maestro'"
  (change)="selectRole('maestro')"> 
                <label for="maestro"> Soy maestro </label> 
            </div> 
            <div class="role-item"> 
                <input type="checkbox" id="estudainte" name="estudiante" [checked]="registerForm.get('role')?.value === 'estudiante'"
      (change)="selectRole('estudiante')"> 
                <label for="estudiante"> Soy estudiante </label> 
            </div>
        </div>
        <small class="error-text" *ngIf="roleInvalid">
            ⚠ Seleccione un rol
        </small> 
        

        <div class="action-area">
            <button type="submit" class="crear-button">
            Crear cuenta
            </button>
        </div>

        <div class="login-link">
            <a routerLink="/login">
            Iniciar sesión
            </a>
        </div>

        </form>

  </section>
</main>