<main class="register-container">
  <section class="register-card">
    <h1 class="register-title" fade-item>CREA TU CUENTA</h1>

    <form
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onRegister()"
    >
      <div class="input-group fade-item">
        <label for="name">Nombre completo</label>

        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="Ingrese su nombre"
          [class.error]="nameInvalid"
          [class.success]="nameValid"
          [attr.aria-invalid]="nameInvalid ? 'true' : 'false'"
          aria-describedby="name-error"
        />

        <div id="name-error" aria-live="polite" class="error-container">
          <small class="error-text" *ngIf="nameInvalid">
            ⚠ Nombre requerido (solo letras y espacios)
          </small>
        </div>
      </div>

      <div class="input-group fade-item">
        <label for="email">Correo electrónico</label>

        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Ingrese su correo electrónico"
          [class.error]="emailInvalid"
          [class.success]="emailValid"
          [attr.aria-invalid]="emailInvalid ? 'true' : 'false'"
          aria-describedby="register-email-error"
        />

        <div
          id="register-email-error"
          aria-live="polite"
          class="error-container"
        >
          <small class="error-text" *ngIf="emailInvalid">
            ⚠ Email inválido
          </small>
        </div>
      </div>

      <div class="input-group fade-item">
        <label for="password">Contraseña</label>

        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Ingrese su contraseña"
          [class.error]="passwordInvalid"
          [class.success]="passwordValid"
          [attr.aria-invalid]="passwordInvalid ? 'true' : 'false'"
          aria-describedby="register-password-error"
        />

        <div
          id="register-password-error"
          aria-live="polite"
          class="error-container"
        >
          <small class="error-text" *ngIf="passwordInvalid">
            ⚠ Mínimo 6 caracteres
          </small>
        </div>
      </div>

      <div class="input-group fade-item">
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Repita su contraseña"
          [class.error]="passwordMismatch"
          [class.success]="confirmPasswordValid"
          [attr.aria-invalid]="passwordMismatch ? 'true' : 'false'"
          aria-describedby="confirm-error"
        />

        <div id="confirm-error" aria-live="polite" class="error-container">
          <small class="error-text" *ngIf="passwordMismatch">
            ⚠ Las contraseñas no coinciden
          </small>
        </div>
      </div>

      <fieldset class="role-fieldset fade-item">
        <legend class="role-legend">¿Cuál es tu rol?</legend>
        <div class="role-options">
          <div class="role-item">
            <input
              type="checkbox"
              id="maestro"
              name="maestro"
              [checked]="registerForm.get('role')?.value === 'maestro'"
              (change)="selectRole('maestro')"
            />
            <label for="maestro"> Soy docente </label>
          </div>
          <div class="role-item">
            <input
              type="checkbox"
              id="estudiante"
              name="estudiante"
              [checked]="registerForm.get('role')?.value === 'estudiante'"
              (change)="selectRole('estudiante')"
            />
            <label for="estudiante"> Soy estudiante </label>
          </div>
        </div>
        <div id="role-error" aria-live="polite" class="error-container">
          <small class="error-text" *ngIf="roleInvalid">
            ⚠ Seleccione un rol
          </small>
        </div>
      </fieldset>

      <div class="action-area fade-item">
        <button
          type="submit"
          class="crear-button"
          [disabled]="registerForm.invalid || passwordMismatch || isLoading"
        >
          <ng-container *ngIf="!isLoading">Crear cuenta</ng-container>
          <ng-container *ngIf="isLoading">
            <div class="looping-rhombuses-spinner">
              <div class="rhombus"></div>
              <div class="rhombus"></div>
              <div class="rhombus"></div>
            </div>
          </ng-container>
        </button>
      </div>

      <div class="login-link fade-item">
        <a routerLink="/login"> Iniciar sesión </a>
      </div>
    </form>
  </section>
</main>
