<main class="login-container">
  <section class="login-card">
    <h1 class="login-title fade-item" >TEXT</h1>

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="input-group fade-item">
        <label for="email">Usuario</label>
        <input 
          type="email"
          id="email"
          name="email"
          placeholder="Ingrese su email"
          formControlName="email"
          [class.error]="emailInvalid"
          [class.success]="emailValid"
          [attr.aria-invalid]="emailInvalid ? 'true' : 'false'"
          aria-describedby="email-error"
        >
        <div id="email-error" aria-live="polite" class="error-container">
          <small class="error-text" *ngIf="emailInvalid">
            ⚠ Email inválido
          </small>
        </div>
      </div>

      <div class="input-group fade-item">
        <label for="password">Contraseña</label>
        <input 
          type="password"
          id="password"
          name="password"
          placeholder="Ingrese su contraseña"
          formControlName="password"
          [class.error]="passwordInvalid"
          [class.success]="passwordValid"
          [attr.aria-invalid]="passwordInvalid ? 'true' : 'false'"
          aria-describedby="password-error"
         
        >
        <div id="password-error" aria-live="polite" class="error-container">
          <small class="error-text" *ngIf="passwordInvalid">
            ⚠ Mínimo 6 caracteres
          </small>
        </div>
      </div>

      <div class="remember-container fade-item">
        <input 
          type="checkbox"
          id="rememberPassword"
          formControlName="remember"
        >
        <label for="rememberPassword">
          Guardar contraseña
        </label>
      </div>

      <div class="action-area fade-item">
            <button type="submit" class="login-button" [disabled]="loginForm.invalid || isLoading">
              <ng-container *ngIf="!isLoading">Iniciar Sesión</ng-container>
              <ng-container *ngIf="isLoading">
                <div class="looping-rhombuses-spinner">
                  <div class="rhombus"></div>
                  <div class="rhombus"></div>
                  <div class="rhombus"></div>
                </div>
              </ng-container>
            </button>

            <button type="button" class="register-button" (click)="goToRegister()" [disabled]="isLoading">
                Registrarse
            </button>
      </div>
      
    </form>
  </section>
</main>